<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


	<context:annotation-config /> <!--this context tag use for annotation for enable the all tha annotation -->

	<!--YE hmara IOC container hai.... jisme hum bean create krte hai-->

	<!--this is our bean -->
	<bean class="com.springcore.lifecycle.Samosa" name="s1" init-method="init" destroy-method="destroy">
		<property name="price" value="10" />
	</bean>

	<bean class="com.springcore.lifecycle.Pepsi" name="p1" init-method="intialization" destroy-method="destroyable">
		<property name="price" value="50" />
	</bean>

	<bean class="com.springcore.lifecycle.Tea" name="t1">
		<property name="price" value="5" />
	</bean>

</beans>